# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# AI/ML Models
*.bin
*.pt
*.pth
*.safetensors

# OS files
.DS_Store
Thumbs.db